$breakpoints:(
    'sm':660px,//Must be one less than med
    'med':661px,
    'large':1000px,
);
$base-color:black;

$todo-even-bg-color:gray;
$todo-even-color:white;

$todo-odd-bg-color:black;
$todo-odd-color:white;