$breakpoints:(
    'sm':660px,//Must be one less than med
    'med':661px,
    'large':1000px,
);

$body-bg-url:'https://images.unsplash.com/photo-1534067783941-51c9c23ecefd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60';

$overlay-color:rgba(#000,.3);
$body-bg-overlay: $overlay-color ,$overlay-color;
$contain-sides: 1em;

$base-color:white;

$todo-header-color:#5B5B5B;

$todo-odd-bg-color:transparent;
$todo-odd-color:white;

$todo-even-bg-color:rgba(116, 116, 116,.8);
$todo-even-color:white;