.Container {
  padding: 0 1em; }

.ToDoList {
  width: 100%; }

.Todos {
  width: 100%; }

.TodoHeader {
  background: #5B5B5B;
  color: white;
  padding: 10px 1em; }

.TodoTitle {
  margin: 0;
  margin-bottom: 6px; }

.Tracker {
  margin: 0;
  font-weight: 300; }

@media (min-width: 661px) {
  .ToDoList {
    width: 60%;
    margin: 0 auto; } }

@media (min-width: 1000px) {
  .ToDoLIst {
    width: 50%; } }
