.ToDoList{
    width:100%;
}
.Todos{
    width:100%;
}

.TodoHeader{
    background:#299ED0;
    color:white;
    padding:10px;
}

.TodoTitle{
    margin:0;
    margin-bottom:6px;
}

.Tracker{
    margin:0;
    font-weight:300;
}