@import '../../../UI/tools/tools.scss';
.ToDoList{
    width:100%;
}
.Todos{
    width:100%;
}

.TodoHeader{
    background:$todo-header-color;
    color:white;
    padding:10px;
}

.TodoTitle{
    margin:0;
    margin-bottom:6px;
}

.Tracker{
    margin:0;
    font-weight:300;
}