@import '../../../UI/tools/tools.scss';

.ToDoList{
    width:100%;
    margin-bottom:40px;
}
.Todos{
    width:100%;
}
@include mq('med'){
    .ToDoList{
        width:60%;
        margin:0 auto;
    }
}
@include mq('large'){
    .ToDoList{
        width:50%;
        max-width:600px;
    }
}