@import '../../../UI/tools/tools.scss';
.App {
  font-family: 'Lato',sans-serif;
  min-height:100vh;
  background:linear-gradient($body-bg-overlay), url($body-bg-url) fixed no-repeat center/cover;
  color:$base-color;
  @include flex($dir:column);
  font-weight: 300;
  main{
    flex:1;
    @include flex($center:center);
  }
  a{
    text-decoration: none;
    color:inherit;
  }
}