.TodoList {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 40px; }

.Todos {
  width: 100%; }

@media (min-width: 650px) {
  .TodoList {
    width: 60%;
    margin: 120px auto 0; } }

@media (min-width: 1000px) {
  .TodoList {
    width: 50%;
    max-width: 600px; } }
