@import '../../../../../UI/tools/tools.scss';

.Todo{
    display:flex;
    align-items:center;
    padding:0 $contain-sides;
    flex:0 0 56px;
    width:100%;
    font-weight:300;
    &:nth-of-type(even){
        background:$todo-even-bg-color;
        color:$todo-even-color;
    }
    &:nth-of-type(odd){
        background:$todo-odd-bg-color;
        color:$todo-odd-color;
    }
    .Index{
        margin-right:10px;
    }
    span{
        margin-left:auto;
        color:$todo-delete-color;
        padding-left:10px;

    }
}

label{
    flex:1;
    align-self:stretch;
    display:flex;
    align-items:center;
    .TodoText{
        flex: 1;
        word-wrap:break-word;
    }
}

.Checkbox{
    position:relative;
    @include square(20px);
    margin-right:10px;
    -webkit-appearance: none;
    outline:none;
    transition: .5s;
    &:checked{
        margin-right:18px;
    }
}


.Checkbox:before{
    position:absolute;
    @include square(100%);
    top:0;
    left:0;
    content:'';
    border:1px solid $white;
    border-radius:2px;
    transition:.5s;
}

.Checkbox:checked:before{
    border-left:none;
    border-top:none;
    width:10px;
    border-color:$todo-checked-color;
    border-width:2px;
    border-radius:0 0 2px 0;
    transform:rotate(37deg) translate(5px,-10px);
}


