.Container {
  padding: 0 1em; }

.Todo {
  display: flex;
  align-items: center;
  padding: 0 1em;
  width: 100%;
  font-weight: 300; }
  .Todo:nth-of-type(even) {
    background: rgba(61, 61, 61, 0.8);
    color: white; }
  .Todo:nth-of-type(odd) {
    background: transparent;
    color: white; }
  .Todo span {
    margin-left: auto;
    color: #f7677f; }

.Checkbox {
  position: relative;
  height: 20px;
  width: 20px;
  top: 4px;
  margin-right: 10px;
  -webkit-appearance: none;
  outline: none;
  transition: .5s; }
  .Checkbox:checked {
    margin-right: 18px; }

label {
  flex: 1;
  padding: 10px 0; }

.Checkbox:before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  border: 1px solid white;
  border-radius: 2px;
  transition: .5s; }

.Checkbox:checked:before {
  border-left: none;
  border-top: none;
  width: 10px;
  border-color: #17b9eb;
  border-width: 2px;
  border-radius: 0 0 2px 0;
  transform: rotate(37deg) translate(5px, -10px); }
