.Container {
  padding: 0 1em; }

.Todo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  flex: 0 0 56px;
  width: 100%;
  font-weight: 300; }
  .Todo:nth-of-type(even) {
    background: rgba(61, 61, 61, 0.8);
    color: white; }
  .Todo:nth-of-type(odd) {
    background: transparent;
    color: white; }
  .Todo .Index {
    margin-right: 10px; }
  .Todo span {
    margin-left: auto;
    padding-left: 10px; }
    .Todo span.DeleteIcon {
      color: #f7677f; }
    .Todo span.EditIcon {
      color: #bfbfbf;
      margin-right: 5px; }

.DisabledTodo {
  opacity: .6;
  overflow: hidden; }

label {
  flex: 1;
  align-self: stretch;
  display: flex;
  align-items: center; }
  label .TodoText {
    flex: 1;
    height: 100%;
    overflow: scroll;
    word-break: break-all; }
    label .TodoText p {
      margin: 19px 0; }

.Checkbox {
  position: relative;
  height: 20px;
  width: 20px;
  margin-right: 15px;
  -webkit-appearance: none;
  outline: none;
  transition: .5s; }
  .Checkbox:checked {
    margin-right: 18px; }

.Checkbox:before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  border: 1px solid white;
  border-radius: 2px;
  transition: .5s; }

.Checkbox:checked:before {
  border-left: none;
  border-top: none;
  width: 10px;
  border-color: #17b9eb;
  border-width: 2px;
  border-radius: 0 0 2px 0;
  transform: rotate(37deg) translate(5px, -10px); }
