.Container {
  padding: 0 1em; }

.Todo {
  display: flex;
  align-items: center;
  padding: 10px 1em;
  width: 100%;
  font-weight: 300; }
  .Todo:nth-of-type(even) {
    background: rgba(61, 61, 61, 0.8);
    color: white; }
  .Todo:nth-of-type(odd) {
    background: transparent;
    color: white; }
  .Todo.Completed {
    opacity: .6; }
  .Todo span {
    margin-left: auto; }

.Checkbox {
  margin-right: 10px; }
