@import '../../../../UI/tools/tools.scss';
.Footer{
    margin-top:auto;
    background:grey;
}
.FooterContainer{
    @include container();
    margin-top:30px;
}

.Location{
    button{
        outline:none;
        border:1px solid rgb(126, 231, 214);
        background:transparent;
        color:rgb(126, 231, 214);
        padding:10px 20px;
    } 
}

@include mq('med'){
    .FooterContainer{
        @include flex($just: space-between);
        margin-top:30px;
    }
}