.Backdrop {
  display: flex;
  align-items: flex-start; }

.ModalOpen {
  overflow: hidden; }

.Modal {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 400px;
  margin: 10vh auto 0;
  background: #353434;
  border-radius: 10px;
  z-index: 600;
  padding: 10px; }
  .Modal .Close {
    align-self: flex-end;
    display: inline-block;
    font-size: 25px; }

.ModalHeader {
  margin: -3px 0 12px 0;
  align-self: flex-start; }
