@import '../../tools/tools.scss';
.Backdrop{
    @include flex($align:flex-start);
}
.ModalOpen{
    overflow:hidden;
}
.Modal{
    @include flex($dir:column);
    width:80%;
    max-width:400px;
    margin:10vh auto 0;
    background:rgb(53, 52, 52);
    border-radius:10px;
    z-index:600;
    padding:10px;
    .Close{
        align-self:flex-end;
        display:inline-block;
        font-size:25px;
    }
}
.ModalHeader{
    margin:-3px 0 12px 0;
    align-self:flex-start;

}