.Container {
  padding: 0 1em; }

.Hide {
  display: none; }

.MenuContainer {
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 500; }

.Menu {
  font-size: 35px;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.3); }

.SideDrawer {
  width: 60vw;
  transition: .5s ease-out;
  position: relative;
  transform: translateX(-100%);
  padding: 70px 1em;
  height: 100vh;
  background: #1C1C1C;
  position: fixed;
  z-index: 500; }
  .SideDrawer ul {
    list-style: none;
    padding-left: 0; }
    .SideDrawer ul li {
      display: block;
      font-size: 18px;
      padding: 10px;
      font-weight: 300; }
  .SideDrawer .SideBrand {
    font-weight: 700; }

.Close {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 20px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 100%; }

.ShowSideDrawer {
  transform: translateX(0); }

.AppImg {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 40px; }

@media (min-width: 510px) {
  .MenuContainer,
  .SideDrawer {
    display: none; } }

.Navbar {
  display: none; }

@media (min-width: 510px) {
  .Navbar {
    display: block;
    padding: 0 1em;
    height: 60px; }
    .Navbar ul {
      display: flex;
      height: 100%;
      width: 56%;
      list-style: none;
      padding-left: 0;
      margin: 0; }
    .Navbar li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      text-decoration: underline;
      font-size: 18px;
      font-weight: 300; }
    .Navbar .NavbarBrand {
      font-size: 22px;
      font-weight: 700;
      text-decoration-color: transparent; } }

@media (min-width: 1000px) {
  .Navbar ul {
    width: 40%; } }
