.Container {
  padding: 0 1em; }

.TodoHeader {
  background: #5B5B5B;
  padding: 10px 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .TodoHeader .TodoTitle {
    margin: 0;
    margin-bottom: 6px; }
  .TodoHeader .Tracker {
    margin: 0; }

.SaveButton {
  outline: none;
  border: 1px solid white;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  height: 82px;
  width: 82px;
  border-radius: 50%; }
  .SaveButton:hover {
    background: rgba(0, 0, 0, 0.6);
    color: #17b9eb;
    border-color: #17b9eb; }

.EditHeader {
  background-color: #51bd6a; }

.EmptyHeader {
  background-color: #bd5151; }
