@import '../../../../UI/tools/tools.scss';

.TodoHeader{
    background:$todo-header-color;
    padding:10px $contain-sides;
    @include flex($just:space-between,$align:center);
    .TodoTitle{
        margin:0;
        margin-bottom:6px;
    }
    .Tracker{
        margin:0;
    }
}
// .SaveButton{
//     outline:none;
//     border:1px solid $white;
//     color:$white;
//     background:$todo-save-bg;
//     @include rounded(82px);
//     &:hover{
//         background:$todo-save-hover-bg;
//         color:$todo-save-hover-color;
//         border-color:$todo-save-hover-color;
//     }
// }

.SaveButton{
    font-size:40px;
    color: rgba(255, 255, 255, 0.3);
}
.ShowToSave{
    color:$todo-save-hover-color;
}
.EditHeader{
    background-color:$todo-edit-header-color;
}
.EmptyHeader{
    background-color:#bd5151;
}