.TodoHeader {
  background: #2c2c2c;
  padding: 10px 1em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .TodoHeader .TodoTitle {
    margin: 0;
    margin-bottom: 6px; }
  .TodoHeader .Tracker {
    margin: 0; }

.SaveButton {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.3); }

.ShowToSave {
  color: #15a5d4; }

.EditHeader {
  background-color: #51bd6a; }

.EmptyHeader {
  background-color: #bd5151; }
