@import '../../../../UI/tools/tools.scss';

.TodoHeader{
    background:$todo-header-color;
    padding:10px $contain-sides;
    .TodoTitle{
        margin:0;
        margin-bottom:6px;
    }
    .Tracker{
        margin:0;
    }
}
.EditHeader{
    background-color:$todo-edit-header-color;
}
.EmptyHeader{
    background-color:#bd5151;
}