@import '../../../../../UI/tools/tools.scss';
//Regular Navbar
.Navbar{
    display:none;
}
@include mq('med'){
    .Navbar{
        display:flex;
        justify-content: space-between;
        padding:0 $contain-sides;
        height:60px;
        background: transparent;
        z-index:100;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        transition: .5s;
        ul{
            display:flex;
            height:100%;
            list-style:none;
            padding-left:0;
            margin:0;
        }
        li{
            flex:1;
            font-size:18px;
            &:hover{
                color:#fcba03;
            }
        }
        .MainLinks{
            width:25%;
            .Link{
                @include flex($center:center);
                height:100%;
            }
        }

        .AuthButtons{
            width:20%;
            li{
                @include flex($center:center);
                &:hover{
                    color:#fcba03;
                }
            }
        }
        li:first-child{
            max-width:100px;
        }

        .NavbarBrand{
            flex:20px;
            font-size:22px;
            font-family:'Staatliches';
        }
        
    }

    .Sticky{
        background: #1f1e1e;
        padding:0;
        color:white;
        height:55px;
        .active{
            color:#6EA89E;
        }
    }
}

@include mq('large'){
    .Navbar{
        ul{
            width:20%;
        }
    }
}