.Container {
  padding: 0 1em; }

.ToDoInput {
  display: flex;
  width: 100%; }
  .ToDoInput input {
    flex: 1;
    outline: none;
    border: 0px;
    font-weight: 300;
    padding: 6px 1em;
    border-radius: 0; }
