@import '../../../../UI/tools/tools.scss';

.ToDoInput{
    display:flex;
    width:100%;
    input{
        flex:1;
        outline:none;
        border:0px;
        font-weight:300;
        padding:6px $contain-sides;
        border-radius:0;
    }
}