.Hide {
  display: none; }

.MenuContainer {
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 50; }
  .MenuContainer .Menu {
    font-size: 35px;
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2px; }

.SideDrawer {
  width: 60vw;
  transition: .5s ease-out;
  position: relative;
  transform: translateX(-100%);
  padding: 70px 1em;
  height: 100vh;
  background: #1C1C1C;
  position: fixed;
  z-index: 500;
  border-radius: 0 10px 10px 0; }
  .SideDrawer ul {
    list-style: none;
    padding-left: 0; }
    .SideDrawer ul li {
      display: block;
      font-size: 18px;
      padding: 10px; }
      .SideDrawer ul li a {
        display: block; }
  .SideDrawer .SideBrand {
    font-weight: 700; }

.Close {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 20px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 100%; }

.ShowSideDrawer {
  transform: translateX(0); }

.AppImg {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 40px; }

@media (min-width: 650px) {
  .MenuContainer,
  .SideDrawer {
    display: none; } }
