@import '../../../../UI/tools/tools.scss';
.Hide{
    display:none;
}

.MenuContainer{
    background:transparent;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    padding:10px;
    z-index:50;
    .Menu{
        font-size:35px;
        border:1px solid $white;
        background:$menu-nav-color;
    }
}

.SideDrawer{
    width:60vw;
    transition:.5s ease-out;
    position:relative;
    transform:translateX(-100%);
    padding:70px $contain-sides;
    height:100vh;
    background:$sideDrawer-bg-color;
    position:fixed;
    z-index:500;
    ul{
        list-style:none;
        padding-left:0;
        li{
            display:block;
            font-size:18px;
            padding:10px;
        }
    }
    .SideBrand{
        font-weight:700;
    }
}
.Close{
    position: absolute;
    top:20px;
    right:15px;
    font-size:20px;
    padding:5px;
    border:1px solid $white;
    border-radius:100%;
}
.ShowSideDrawer{
    transform:translateX(0);
}
.AppImg{
    @include rounded(100px);
    display:block;
    margin:0 auto 40px;
}

@include mq('med'){
    .MenuContainer,
    .SideDrawer{
        display:none;
    }
}