.Navbar {
  display: none; }

@media (min-width: 650px) {
  .Navbar {
    display: block;
    padding: 0 1em;
    height: 60px;
    background: transparent;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .5s; }
    .Navbar ul {
      display: flex;
      height: 100%;
      width: 56%;
      list-style: none;
      padding-left: 0;
      margin: 0; }
    .Navbar li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 18px;
      font-size: 18px;
      font-weight: 300; }
    .Navbar .NavbarBrand {
      font-size: 22px;
      text-decoration-color: transparent;
      font-family: 'Staatliches'; }
  .Sticky {
    background: #1f1e1e;
    padding: 0;
    color: white;
    height: 55px; }
    .Sticky .NavbarBrand {
      color: #6EA89E; } }

@media (min-width: 1000px) {
  .Navbar ul {
    width: 40%; } }
