.Navbar {
  display: none; }

@media (min-width: 650px) {
  .Navbar {
    display: block;
    padding: 0 1em;
    height: 60px;
    background: transparent;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .5s; }
    .Navbar ul {
      display: flex;
      height: 100%;
      width: 25%;
      list-style: none;
      padding-left: 0;
      margin: 0; }
    .Navbar li {
      flex: 1;
      font-size: 18px; }
      .Navbar li .Link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%; }
        .Navbar li .Link:hover {
          color: #fcba03; }
    .Navbar li:first-child {
      max-width: 100px; }
    .Navbar .NavbarBrand {
      flex: 20px;
      font-size: 22px;
      font-family: 'Staatliches'; }
  .Sticky {
    background: #1f1e1e;
    padding: 0;
    color: white;
    height: 55px; }
    .Sticky .NavbarBrand {
      color: #6EA89E; } }

@media (min-width: 1000px) {
  .Navbar ul {
    width: 20%; } }
