.Feature:after {
  content: "";
  display: table;
  clear: both; }

.Feature {
  padding: 1px 2rem 40px; }

.Icon {
  width: 100px; }

.TextLeft {
  margin: 50px 10% 50px 0; }

.TextRight {
  margin: 50px 0 50px 10%; }

.FloatRight {
  float: right; }

.FloatLeft {
  float: left; }

.TextAlignRight {
  text-align: right; }

.TextAlignLeft {
  text-align: left; }
